<footer class=" py-4 px-3 md:px-4 lg:px-6 flex items-start flex-col border-t border-neutral-900">

    <div class="flex flex-row grow items-end justify-end text-lg w-full">

        <div class="mr-4 text-lg flex w-full">
            <div id="email-container" class="grow">
                <a id="email" class="underline cursor-auto">noradeligter@gmail.com</a>
                <a class="text-zinc-900 cursor-pointer href="#" id="copy-link" onclick="copyEmail()">(⌘Copy)</a>
            </div>      
        </div>
    </div>
</footer>