---
layout: default
---



<section class="px-3 md:px-4 lg:px-6 mb-10 mt-4">

  <div class="mb-4 flex flex-col center">
    <div class="w-full col-span-3 text-3xl">
      <p class="mb-2 max-w-prose">
        Hi, I’m Nora: a writer and filmmaker based in New York. In 2021, I directed a short film called The Pedestrian that won the jury prize for Best Documentary Short at the Montclair Film Festival and played at festivals like the Hamptons Film Festival, AVFIF, Anthology New Filmmakers, Rockaway Film Festival and more. A film I’ve spent the last few years producing, called Penn F—ing Station, received a 2024 Rooftop Filmmakers Fund and premiered at DC/DOX. I’m currently working on a mid-length film about lip filler for XTR and the Rolling Stone, all while a personal film takes shape in the background about my mother, called Stage Mom.  I write a newsletter for New York Magazine, and for other publications like Screen Slate, Vogue, Architectural Digest and more. For my commercial work, head over here. 
      </p>
   
    </div>
  </div>
</section>